html{
    
text-align: center;
margin: 0;
padding: 0;
background: url(sunflower.jpg) no-repeat;
background-size: cover;
}

.pic{ 
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: block; margin-left: auto; margin-right: auto;
    }
.round
{
    width : 1000px;
    height: 1900px;
    background: rgba(101, 143, 101, 0.4);
    padding : 40px;
    color: white;
    margin: 0 auto;
    margin-top: 50px
}
@font-face{
    font-display: "Verdana";
    src: url('verdana.eot') format ('embedded-opentype'),
    url('verdana.otf') format('opentype');
}

@font-face{
    font-display: "Verdana";
    font-weight: bold;
    src: url('verdanaBold.otf') format ('opentype'), 
}

 body{
     color:white;
}
